
#main {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
    
}
#whole{
    padding:100px;
}
#top{
 display:flex;
 align-items: center;
 
 justify-content: space-between;
}

#foamdiv {
    width: 50%; 
    border:1px solid transparent;
   
}

form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

form label {
    font-size: 16px;
}

form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addButton {
    width: 70px;
    height: 70px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;  
    font-size: 30px;
    display: flex;       
    align-items: center;
    justify-content: center;
    
  }
  
svg{
    display:flex;
        align-self: end;
}
h2{
    font-size: 50px;
}

#searchdiv {
    width: 48%;
    padding-top: 100px; 
}


#searchtool {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}


#contactList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-card {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-card a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

body{
    background-color: rgba(255, 255, 255, 0.2);
}